body {
    background: linear-gradient(#615dad, #ffc8da);
    height: 120vh;
}

.container {
    max-width: 80vmin;
    margin: 0 auto;
}

.card__heading {
    font-family: Lobster , cursive;
    font-size: 12vmin;
    color: white;
    text-align: center; 
}

.play__menu {
    display: flex;
    justify-content: space-between;  
}

.play__circle     {
    width: 7vmin;
    margin-left: -17vmin;
}

.play__heading {
    color: white;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    font-size: 7vmin;
    margin-right: 2vmin;
}

.play__home {
    background-color: #1fcca4;
    border-radius: 2vmin;
    margin-right: -16vmin;
    height: 4vmin;
    padding: 2.7vmin;
}

.play__home:hover {
    content: '';
    background-color: #1cbb96;
    }

.play__restart {
    background-color: #0197f6;  
    border-radius: 2vmin;
    height: 4vmin;
    padding: 2.7vmin;
}

.play__restart:hover {
    content: '';    
    background-color: #0090e9;
    }

.button__row {
    display: flex;
    background: linear-gradient(#cdb4dc7c, #f0e9ec);
}

.button:hover {
    background-color: #e8d1f57c;
}

.button {
    background-color: #d4b7cd;
    border: 2px solid #1c2d3b;
    margin: 0 auto;
    height: 8vmin;
    width: 8vmin;
}








