body {
    background: linear-gradient(#615dad, #ffc8da);
    height: 130vh;
}

.container {
    max-width: 80vmin;
    margin: 0 auto;
}

.card__heading {
    font-family: Lobster , cursive;
    font-size: 12vmin;
    color: white;
    text-align: center; 
    
}

.play__menu {
    display: flex;
    justify-content: space-between;  
    text-align: center;
}

.play__player {
    display: flex;
    justify-content: baseline;
    color: white;
    margin-bottom: 6px;
}
.play__buttons {
    display: flex;
    text-align: center;
}
/* .play__circle     {
    /* width: 7vmin;
    margin-left: -22vmin; */


.play__heading {
    color: white;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    margin-right: 4px;
}

.play__home {
    background-color: #1fcca4;
    border-radius: 2vmin;
    height: 32px;
    padding: 2vmin;
    margin-right: 10px;
    margin-bottom: 25px;
} 

.play__home:hover {
    content: '';
    background-color: #1cbb96;
    }

.play__restart {
    background-color: #0197f6;  
    border-radius: 2vmin;
    height: 32px;
    padding: 2vmin;
}

.play__restart:hover {
    content: '';    
    background-color: #0090e9;
    }

.button__row {
    display: flex;
    box-sizing: inherit;   
}

.button:hover {
    background-color: #e8d1f57c;
}

.button {
    border: 1px solid #1c2d3b;
    background-color:rgba(255, 255, 255, 0.5);
    flex-basis: 10%;
    aspect-ratio: 1;
}








